<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage seances</title>
    <link th:href="@{/styles/css/commonStyle.css}" rel="stylesheet" />
</head>
<body>
<h1>Manage seances:</h1>
<form th:action="@{${doesSeanceAlreadyExists ? '/seance/admin/update' : '/seance/admin/addSeance'}}" method="POST" th:object="${seance}">
    <input placeholder="Film name" th:field="*{name}" th:value="${seance.getName()}">
    <input placeholder="Film description" th:field="*{description}">
    <input type="date" th:field="*{date}">
    <input type="time" th:field="*{time}">
    <input type="hidden" th:field="*{id}">
    <button type="submit" th:text="${doesSeanceAlreadyExists ? 'Configure' : 'Add new'}"></button>
</form>
</body>
</html>