<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage seance</title>
    <link th:href="@{/styles/css/commonStyle.css}" rel="stylesheet" />
</head>
<body>
<h1 th:text="${seance.getName()}"></h1>
<h2 th:text="${seance.getDate()}"></h2>
<h2 th:text="${seance.getTime()}"></h2>
<h2>Description:</h2>
<h2 th:text="${seance.getDescription()}"></h2>
<h3>Amount of tickets: <span th:text="${tickets.size()}"></span></h3>
<h3>Tickets left: <span th:text="${tickets.size() - amountOfBoughtTickets}"></span></h3>
<form th:action="@{/seance/admin/add}">
    <input type="hidden" name="seanceId" th:value="${seance.getId()}">
    <button type="submit">Configure</button>
</form>
<form th:action="@{/seance/admin/delete}" method="POST">
    <input type="hidden" name="seanceId" th:value="${seance.getId()}">
    <button type="submit">Delete seance</button>
</form>
</body>
</html>