<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage tickets</title>
</head>
<body>
<div th:if="${!wrongRequest}">
<h1>Manage tickets for seance <span th:text="${seanceName}"></span></h1>
<form method="POST" th:action="@{/ticket/admin/generateTickets}">
    <input type="hidden" th:value="${seanceId}" name="seanceId">
    <input placeholder="amountOfTickets" name="amountOfTickets" id="amountOfTickets">
    <input placeholder="priceForTickets" name="priceForTickets" id="priceForTickets">
    <button type="submit">Submit</button>
</form>
</div>
<div th:if="${wrongRequest}">
    Seance doesn't exists!
</div>
</body>
</html>